@define-color foreground #FFFFFF;
@define-color background #0D0D0D;
@define-color cursor #C9D1C9;

@define-color color0 #2C2C2E;
@define-color color1 #F85149;
@define-color color2 #3FB950;
@define-color color3 #D29922;
@define-color color4 #58A6FF;
@define-color color5 #BC8CFF;
@define-color color6 #39C5CF;
@define-color color7 #EBEBF5;
